body {
  background-color: aliceblue;
  font-family: Arial, sans-serif;
}

/* Styling for all the buttons */
button {
  display: block;
  margin: auto;
}
.button {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  transition: all .3s;
  font-family: sans-serif;
  border-bottom-color: rgb(0, 0, 0);
  outline: 0;
  display: block;
  color: #cef5e7;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#657179), color-stop(4%,#294d65), color-stop(100%,#08263a));
  margin-bottom: 20px;
}

/* Styling for the fourth button when hovering over it */
.button:hover {
  color: #84ffa4;
  letter-spacing: 1.3px;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all .3s;
}
